 <!-- SECCION INICIO -->
 <section id="inicio" class="inicio">
  <div class="contenido-banner">
      <div class="contenedor-img">
          <img src="assets/imagen-mia.jpg" alt="">
      </div>
      <h1>Franco Villarruel</h1>
      <h2>Fullstack Developer</h2>
      <div class="redes">
          <a href="https://www.facebook.com/fran.villaa/"><i class='fab fa-facebook'></i></a>
          <a href="https://github.com/francovillarruel"><i class="fa-brands fa-github"></i></a>
          <a href="https://www.linkedin.com/in/franco-villarruel-212928197/"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
  </div>
</section>

<!-- SECCION SOBRE MI -->
<section id="sobremi" class="sobremi">
  <div class="contenido-seccion">
      <h2>Sobre Mí</h2>
      <p><span>Hola, soy Franco Villarruel.</span> Tengo 30 años y soy un apasionado programador Full Stack. En el Front-End, creo experiencias cautivadoras con HTML, CSS y frameworks como React. En el Back-End, construyo bases con Java y NodeJS.</p>

      <div class="fila">
          <!-- datos personales -->
          <div class="col">
              <h3>Datos Personales</h3>
              <ul>
                  <li>
                      <strong>Cumpleaños</strong>
                      18-06-1993
                  </li>
                  <li>
                      <strong>Teléfono</strong>
                      264 4 44 70 17
                  </li>
                  <li>
                      <strong>Email</strong>
                      frankko.villa@gmail.com
                  </li>
                  <li>
                      <strong>Estado Civil</strong>
                      Conviviente
                  </li>
              </ul>
          </div>

          <!-- intereses -->
          <div class="col">
              <h3>Habilidades</h3>
              <div class="contenedor-intereses">
                  <div class="interes">
                      <i class="fa-brands fa-angular"></i>
                      <span>ANGULAR</span>
                  </div>
                  <div class="interes">
                      <i class="fa-brands fa-react"></i>
                      <span>REACT JS</span>
                  </div>
                  <div class="interes">
                      <i class="fa-brands fa-node-js"></i>
                      <span>NODE JS</span>
                  </div>
                  <div class="interes">
                      <i class="fa-brands fa-java"></i>
                      <span>JAVA</span>
                  </div>
                  <div class="interes">
                      <i class="fa-brands fa-css3-alt"></i>
                      <span>CSS3</span>
                  </div>
                  <div class="interes">
                      <i class="fa-brands fa-html5"></i>
                      <span>HTML</span>
                  </div>
                  <div class="interes">
                      <i class="fa-solid fa-database"></i>
                      <span>SQL</span>
                  </div>
                  <div class="interes">
                      <i class="fa-brands fa-js"></i>
                      <span>JAVASCRIPT</span>
                  </div>
                  <div class="interes">
                      <i class="fa-brands fa-aws"></i>
                      <span>WEBSERVICES</span>
                  </div>

              </div>
          </div>
      </div>
  </div>
</section>

<!-- SECCION SKILLS -->
<section class="skills" id="skills">
  <div class="contenido-seccion">
      <h2>Skills</h2>
      <div class="fila">
          <!-- Technical Skill -->
          <div class="col">
              <h3>Technical Skills</h3>
              <div class="skill">
                  <span>JAVA & JAVASCRIPT</span>
                  <div class="barra-skill">
                      <div class="progreso" data-skill="javascript">
                          <span>85%</span>
                      </div>
                  </div>
              </div>
              <div class="skill">
                  <span>HTML & CSS</span>
                  <div class="barra-skill">
                      <div class="progreso" data-skill="htmlcss">
                          <span>90%</span>
                      </div>
                  </div>
              </div>
              <div class="skill">
                  <span>WEB SERVICES</span>
                  <div class="barra-skill">
                      <div class="progreso" data-skill="drupal">
                          <span>55%</span>
                      </div>
                  </div>
              </div>
              <div class="skill">
                  <span>REACT JS</span>
                  <div class="barra-skill">
                      <div class="progreso" data-skill="reactjs">
                          <span>80%</span>
                      </div>
                  </div>
              </div>
              <div class="skill">
                  <span>NODE JS</span>
                  <div class="barra-skill" >
                      <div class="progreso" data-skill="nodejs">
                          <span>50%</span>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Professional Skills -->
          <div class="col">
              <h3>Professional Skills</h3>
              <div class="skill">
                  <span>Comunicación</span>
                  <div class="barra-skill">
                      <div class="progreso" data-skill="comunicacion">
                          <span>100%</span>
                      </div>
                  </div>
              </div>
              <div class="skill">
                  <span>Trabajo en Equipo</span>
                  <div class="barra-skill">
                      <div class="progreso" data-skill="trabajo">
                          <span>100%</span>
                      </div>
                  </div>
              </div>
              <div class="skill">
                  <span>Creatividad</span>
                  <div class="barra-skill" >
                      <div class="progreso" data-skill="creatividad">
                          <span>80%</span>
                      </div>
                  </div>
              </div>
              <div class="skill">
                  <span>Dedicación</span>
                  <div class="barra-skill" >
                      <div class="progreso" data-skill="dedicacion">
                          <span>90%</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- SECCION FOMRMACIÖN -->
<section id="formación" class="formación">
  <div class="contenido-seccion">
      <h2>Formación</h2>
      <div class="fila">
          <div class="col izquierda">
              <h3>Educación</h3>
              <div class="item izq">
                  <h4>Informática</h4>
                  <span class="casa">Universidad Nacional de San Juan</span>
                  <span class="fecha">2011 - 2023</span>
                  <p>Técnico Universitario en Informática</p>
                  <div class="conectori">
                      <div class="circuloi"></div>
                  </div>
                  <span class="casa">Universidad Nacional de San Juan</span>
                  <span class="fecha">2020 - Actualidad</span>
                  <p>Técnico Universitario en Programación Web</p>
                  <div class="conectori">
                      <div class="circuloi"></div>
                  </div>
              </div>
              <div class="item izq">
                  <h4>Idioma</h4>
                  <span class="casa">Instituto Saint Thomas</span>
                  <span class="fecha">2010 </span>
                  <p>Egresado: SENIOR III</p>
                  <div class="conectori">
                      <div class="circuloi"></div>
                  </div>
              </div>
          </div>

          <div class="col derecha">
              <h3>Experiencia de trabajo</h3>
              <div class="item der">
                  <h4>Proyect Manager</h4>
                  <span class="casa">DyL SRL</span>
                  <span class="fecha">2021 - 2023</span>
                  <p>Redes Sociales, Competencia, Planificación de Eventos, etc</p>
                  <div class="conectord">
                      <div class="circulod"></div>
                  </div>
              </div>
              <div class="item der">
                  <h4>Mantenimiento Sistema de Facturación</h4>
                  <span class="casa">DyL SRL</span>
                  <span class="fecha">2021 - 2023</span>
                  <p>Cambios de Listas de Precios, Actualización de productos, Facturación, etc.</p>
                  <div class="conectord">
                      <div class="circulod"></div>
                  </div>
              </div>
              <div class="item der">
                  <h4>Front Developer</h4>
                  <span class="casa">Sanz Cantos</span>
                  <span class="fecha">2023</span>
                  <p>Diseño de pagina web para Estudio Jurídico.</p>
                  <div class="conectord">
                      <div class="circulod"></div>
                  </div>
              </div>
              <div class="item der">
                  <h4>Front Developer</h4>
                  <span class="casa">Misiotronica</span>
                  <span class="fecha">2023</span>
                  <p>Diseño de pagina web para curso Argentina Programa 4.0</p>
                  <div class="conectord">
                      <div class="circulod"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- SECCION PORTFOLIO -->
<section id="portfolio" class="portfolio">
  <div class="contenido-seccion">
      <h2>PORTAFOLIO</h2>
      <div class="galeria">
          <div class="proyecto">
              <img src="assets\misiotronica.png" alt="">
              <div class="overlay">
                  <a href="https://misiotronica.netlify.app/"><h3>Misiotronica</h3></a>
                  <p>Tienda Online (React)</p>
              </div>
          </div>
          <div class="proyecto">
              <img src="assets/sanzcantos.png" alt="">
              <div class="overlay">
                  <a href="h1ttps://sanzcantos.netlify.app/"><h3>Sanz Cantos</h3></a>
                  <p>Estudio Juridico (React)</p>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- SECCION CONTACTO -->
<section id="contacto" class="contacto">
  <div class="contenido-seccion">
      <h2>CONTACTO</h2>
      <div class="fila">
          <!-- Formulario -->
          <div class="col">
              <input type="text" placeholder="Tú Nombre">
              <input type="text" placeholder="Número telefónico">
              <input type="text" placeholder="Dirección de correo">
              <input type="text" placeholder="Tema">
              <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
              <button>
                  Enviar Mensaje<i class="fa-solid fa-paper-plane"></i>
                  <span class="overlay"></span>
              </button>
          </div>
          <!-- Mapa -->
          <div class="col">
              <img src="assets/ubicacion.png" alt="">
              <div class="info">
                  <ul>
                      <li>
                          <i class="fa-solid fa-location-dot"></i>
                          Fray Mamerto Esquiu 390, Capital SJ
                      </li>
                      <li>
                          <i class="fa-solid fa-mobile-screen"></i>
                          Celular: 264 4 44 70 17
                      </li>
                      <li>
                          <i class="fa-solid fa-envelope"></i>
                          Email: frankko.villa@gmail.com
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
